<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{title}</title>
  <link rel="icon" type="image/x-icon" href="/assets/Logo.png">

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/arrow.css" />
  <link rel="stylesheet" href="/styles/separator.css" />
  <link rel="stylesheet" href="/styles/code.css" />
  <link rel="stylesheet" href="/styles/topbar.css" />
  <link rel="stylesheet" href="/styles/navigation.css" />
  <link rel="stylesheet" href="/styles/search-box.css" />
  <link rel="stylesheet" href="/styles/content.css" />
  <link rel="stylesheet" href="/styles/jump.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
</head>

<body>
  <ul id="topbar">
    <li><a href="https://nexonous.com" target="_blank"><img src="/assets/Logo.png" alt="Nexonous Logo" /></a></li>
    <li><a id="title" href="/index.html">Home</a></li>
    <li id="search">Search</li>
  </ul>

  <aside>
    <div id="navigation">{navigation}</div>
  </aside>

  <main>
    <div id="search-backdrop">
      <div id="search-box">
        <form role="search">
          <label>
            <input id="search-input" type="search" placeholder="Search in Docs">
          </label>
          <button id="cancel-search" type="reset">Cancel</button>
        </form>
        <div id="search-output"></div>
      </div>
    </div>
    <div id="content">{content}</div>
    <div id="jump">{jump}</div>
  </main>

  <footer id="footer">
    <p>© 2023 by Nexonous Intelligent Systems.</p>
  </footer>

  <script>
    hljs.highlightAll()
  </script>

  <script src="/scripts/main.js"></script>
</body>

</html>