#content {
  padding-top: var(--topbar-height);
  padding-left: calc(var(--sidebar-hover-width) + var(--sidebar-width));
  padding-right: calc(var(--sidebar-hover-width) + var(--sidebar-width));
}

#content :is(h1, h2, h3, h4, h5, h6)[id] {
  scroll-margin-top: var(--topbar-height);
  padding-top: 2%;
}

#content h2 {
  padding-bottom: 5px;

  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--line-color);
}

#content table {
  border-collapse: collapse;
  /* margin-left: auto;
  margin-right: auto; */
  min-width: 75%;
  /* width: 100%; */
}

#content th,
#content td {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #D7D9CE44;

  padding: 15px 10px 15px 10px;
}

#content th {
  color: #888888;
  text-align: left;
  text-transform: uppercase;
}

#content table th {
  position: -webkit-sticky;
  position: sticky;

  top: var(--topbar-height);

  z-index: 1;

  background-color: var(--main-bg-color);
}

#content td {
  font-size: 14px;
}

#content a,
#content a:visited {
  color: var(--link-color);
  text-decoration: none;
}

#content a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

#content strong em {
  color: var(--highlight-color);
}

#content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (orientation: portrait) {
  #content {
    padding-left: calc(var(--sidebar-hover-width) / 4);
    padding-right: calc(var(--sidebar-hover-width) / 4);
  }

  #content table th {
    top: 0;
  }
}