:root {
  --main-bg-color: #222222;

  --line-color: #D7D9CE;
  --link-color: #119DA4;

  --border-color: #D7D9CE88;

  --font-color: #f5f3f5;

  --scrollbar-thumb-color: #88888888;
  --scrollbar-thumb-hover-color: #888888;

  --code-bg-color: #13505B;
  --code-color: #D7D9CE;

  --highlight-color: #F18701;
  --important-link-color: #FFC857;

  --sidebar-width: 16%;
  --sidebar-hover-width: 100px;
  --sidebar-border-width: 10px;
  --sidebar-border-color: #D7D9CE44;
  
  --topbar-height: 50px;
}

@media (orientation: portrait) {
  :root {
    --topbar-height: 100px;
    --sidebar-width: 50%;
  }
}