#jump-bar {
  height: 100%;
  width: var(--sidebar-hover-width);

  top: 0;
  right: 0;

  position: fixed;

  overflow: hidden;
}

#jump {
  height: 100%;
  width: var(--sidebar-width-landscape);

  top: 0;
  right: 0;

  position: fixed;

  background-color: var(--main-bg-color);

  padding-top: 50px;

  transition: 1s;
  white-space: nowrap;
}

#jump li {
  width: 100%;
  list-style: none;
  padding-left: 10px;
  padding-bottom: 2px;
}

#jump ul {
  padding-left: 10px;
}

#jump a,
#jump a:visited,
#jump a:hover {
  font-size: 14px;
  color: var(--link-color);
  text-decoration: none;
}

#jump a:hover {
  font-size: 14px;
  color: var(--link-color);
  text-decoration: underline;
}

#jump p {
  text-align: center;
}

@media (orientation: portrait) {
  #jump {
    width: 0;

    border-color: var(--border-color);
    border-width: 0 0 0 1px;
    border-style: solid;
  }

  #jump-bar:hover #jump {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

    width: var(--sidebar-width-portrait);
  }
}