#navigation-bar {
  height: 100%;
  width: var(--sidebar-hover-width);

  position: fixed;

  top: 0;
  left: 0;

  overflow: hidden;
}

#navigation {
  height: 100%;
  width: var(--sidebar-width-landscape);

  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 40px;

  background-color: var(--main-bg-color);

  border-color: var(--border-color);
  border-width: 0 1px 0 0;
  border-style: solid;
}

#navigation ul,
#navigation li {
  color: var(--font-color);
  list-style: none;
}

#navigation li {
  padding-top: 5px;
}

#navigation ul {
  padding-left: 1rem;
  padding-bottom: 0;
}

#navigation ul a,
#navigation ul a:visited {
  color: var(--font-color);
  text-decoration: underline;
}

#navigation ul.global a,
#navigation ul.global a:visited,
#navigation h1 a,
#navigation h1 a:visited {
  color: var(--font-color);
  text-decoration: none;
}

#navigation ul.global a:hover {
  text-decoration: underline;
}

#navigation h1,
#navigation p {
  text-align: center;
  width: 100%;
}

#navigation ul a.active {
  color: var(--important-link-color);
  text-decoration: underline;
}

#navigation h1 a.active {
  color: var(--important-link-color);
  text-decoration: none;
}

#navigation #version {
  color: #888888;
  width: 100%;

  border-width: 0 0 1px 0;
  border-style: solid;

  padding-bottom: 15px;
}

@media (orientation: portrait) {
  #navigation {
    width: 0;

    transition: 1s;
    white-space: nowrap;
  }

  #navigation-bar:hover #navigation {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

    width: var(--sidebar-width-portrait);
  }
}